[Unit]
Description=TidalAI Companion Server
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/tidalai-companion/raspberry-pi/web
ExecStart=/usr/bin/python3 /home/pi/tidalai-companion/raspberry-pi/web/app.py
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
